@import "tailwindcss";

:root {
  --primary-color: oklch(62.3% 0.214 259.815);
  --background-color: #ececec;
}

body,
html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

.text-primary {
  color: var(--primary-color);
}
